<%- include('header') %>

<div class="userSearch">
    <form action="buscarusuario" method="post">
        <input type="text" name="searchUser" placeholder="Buscador de Usuarios" style="width: 200px; padding: 10px;">
        <button type="submit">Buscar</button>
    </form>
</div>



    <% if(usuario.length==0) { %>
        <h2>Usuario no existe</h2>
    <% } else { %>
    <table style="border: solird 1px #000;" class="table">
        <tr>
            <th>ID Reseña</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>id Pelicula</th>
            <th>Reseña</th>
            <th>Puntuacion</th>
            <th>Creado</th>
        </tr>
        <% usuario.forEach(function(user) { %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td><%=user.idPelicula%></td>
                <td><%=user.resena%></td>
                <td>
                    
                    <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    <%=user.puntaje%></td>
                <td><%=user.created_at%></td>
            </tr>
            <% }); %>

        </table>

<% } %>


<%- include('footer') %>